<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <NameId>LindeVia</NameId>

  <StartAtEnter>false</StartAtEnter>
  <MinimizeAtEnter>false</MinimizeAtEnter>
  <ShowBalloons>false</ShowBalloons>
  <DefaultSortColumn>4</DefaultSortColumn>

  <ServerDatabases>

    <ServerDatabase>
      <NameId>FR</NameId>
      <Server>MLGMUC00LSQL002</Server>
      <Database>Healthcare_FR_PRD</Database>
      <Zone>A</Zone>
    </ServerDatabase>
    <ServerDatabase>
      <NameId>ES</NameId>
      <Server>MLGMUC00LSQL004</Server>
      <Database>Healthcare_ES_PRD</Database>
      <Zone>B</Zone>
    </ServerDatabase>
    <ServerDatabase>
      <NameId>PT</NameId>
      <Server>MLGMUC00LSQL005</Server>
      <Database>Healthcare_PT_PRD</Database>
      <Zone>C</Zone>
    </ServerDatabase>
    <ServerDatabase>
      <NameId>BE</NameId>
      <Server>MLGMUC00LSQL003</Server>
      <Database>Healthcare_BE_PRD</Database>
      <Zone>D</Zone>
    </ServerDatabase>
    <ServerDatabase>
      <NameId>NL</NameId>
      <Server>MLGMUC00LSQL003</Server>
      <Database>Healthcare_NL_PRD</Database>
      <Zone>E</Zone>
    </ServerDatabase>
    <ServerDatabase>
      <NameId>CH</NameId>
      <Server>MLGMUC00LSQL003</Server>
      <Database>Healthcare_CH_PRD</Database>
      <Zone>F</Zone>
    </ServerDatabase>

  </ServerDatabases>

  <!-- <Endpoints> -->

    <!-- <Endpoint> -->
      <!-- <NameId>FR</NameId> -->
      <!-- <Name>BasicHttpBinding_ITreatmentHistoryServiceFR</Name> -->
      <!-- <Token>aaa</Token> -->
      <!-- <Zone>A</Zone> -->
    <!-- </Endpoint> -->
    <!-- <Endpoint> -->
      <!-- <NameId>ES</NameId> -->
      <!-- <Name>BasicHttpBinding_ITreatmentHistoryServiceES</Name> -->
      <!-- <Token>aaa</Token> -->
      <!-- <Zone>B</Zone> -->
    <!-- </Endpoint> -->
    <!-- <Endpoint> -->
      <!-- <NameId>PT</NameId> -->
      <!-- <Name>BasicHttpBinding_ITreatmentHistoryServicePT</Name> -->
      <!-- <Token>aaa</Token> -->
      <!-- <Zone>C</Zone> -->
    <!-- </Endpoint> -->
    <!-- <Endpoint> -->
      <!-- <NameId>BE</NameId> -->
      <!-- <Name>BasicHttpBinding_ITreatmentHistoryServiceBE</Name> -->
      <!-- <Token>aaa</Token> -->
      <!-- <Zone>D</Zone> -->
    <!-- </Endpoint> -->
    <!-- <Endpoint> -->
      <!-- <NameId>NL</NameId> -->
      <!-- <Name>BasicHttpBinding_ITreatmentHistoryServiceNL</Name> -->
      <!-- <Token>aaa</Token> -->
      <!-- <Zone>E</Zone> -->
    <!-- </Endpoint> -->
    <!-- <Endpoint> -->
      <!-- <NameId>CH</NameId> -->
      <!-- <Name>BasicHttpBinding_ITreatmentHistoryServiceCH</Name> -->
      <!-- <Token>aaa</Token> -->
      <!-- <Zone>F</Zone> -->
    <!-- </Endpoint> -->

  <!-- </Endpoints> -->

  <Queries>

    <!-- Users -->

    <Query>
      <NameId>Users</NameId>
      <Sentence>select count(distinct log_message) from log with(nolock) where (log_message like 'AuthenticateUser LINDE\%' OR log_message like 'AuthenticateUser LMEDICAL\%') and log_date >= convert(date,getdate())</Sentence>
      <QueryType>SqlQuery</QueryType>
      <Zone>A</Zone>
    </Query>

    <!-- TRC -->

    <Query>
      <NameId>TRC active</NameId>
      <Sentence>select count(*) from generalparameters with(nolock) where gep_activessis = 1</Sentence>
      <QueryType>SqlQuery</QueryType>
      <Zone>B</Zone>
    </Query>
    <Query>
      <NameId>TRC interface</NameId>
      <Sentence>select count(*) from log with(nolock) where log_message like '%dtexec%' and application_name like '%SSISPeriodic%' and log_date > dateadd(minute, -30, getdate())</Sentence>
      <QueryType>SqlQuery</QueryType>
      <Zone>C</Zone>
    </Query>
    <Query>
      <NameId>TRC docs</NameId>
      <Sentence>select count(*) from log with(nolock) where log_message like '%dtexec%' and application_name like '%SSISDaily%' and log_date > dateadd(minute, -60, getdate())</Sentence>
      <QueryType>SqlQuery</QueryType>
      <Zone>D</Zone>
    </Query>

    <!-- Comm -->

    <Query>
      <NameId>Comm letters</NameId>
      <Sentence>select isnull((select sum(cph_documentdetailcount) from communicationprocesshistories with(nolock) where com_id = 1 and cph_processstartdate >= dateadd(hh, 18, datediff(dd, 1, getdate())) and cph_processstartdate &lt; dateadd(hh, 18, datediff(dd, 0, getdate()))), 0)</Sentence>
      <QueryType>SqlQuery</QueryType>
      <Zone>E1</Zone>
    </Query>
    <Query>
      <NameId>Comm emails</NameId>
      <Sentence>select isnull((select sum(cph_documentdetailcount) from communicationprocesshistories with(nolock) where com_id = 3 and cph_processstartdate >= dateadd(hh, 18, datediff(dd, 1, getdate())) and cph_processstartdate &lt; dateadd(hh, 18, datediff(dd, 0, getdate()))), 0)</Sentence>
      <QueryType>SqlQuery</QueryType>
      <Zone>E3</Zone>
    </Query>
    <Query>
      <NameId>Comm errors</NameId>
      <Sentence>select isnull((select count(*) from log with(nolock) where application_name like '%CommunicationProcessLauncherService%' and log_message_code = 'Exception' and log_date >= dateadd(hh, 18, datediff(dd, 1, getdate())) and log_date &lt; dateadd(hh, 18, datediff(dd, 0, getdate()))), 0)</Sentence>
      <QueryType>SqlQuery</QueryType>
      <Zone>E4</Zone>
    </Query>

    <!-- Trans -->

    <Query>
      <NameId>Trans Resmed</NameId>
      <Sentence>select count(*) from devicetransmissions with(nolock) where dvt_id = 5 and dtr_loadingdate >= convert(date, getdate())</Sentence>
      <QueryType>SqlQuery</QueryType>
      <Zone>F1</Zone>
    </Query>
    <Query>
      <NameId>Trans Respironics</NameId>
      <Sentence>select count(*) from devicetransmissions with(nolock) where dvt_id = 4 and dtr_loadingdate >= convert(date, getdate())</Sentence>
      <QueryType>SqlQuery</QueryType>
      <Zone>F2</Zone>
    </Query>
    <Query>
      <NameId>Trans Srett</NameId>
      <Sentence>select count(*) from devicetransmissions with(nolock) where dvt_id = 3 and dtr_loadingdate >= convert(date, getdate())</Sentence>
      <QueryType>SqlQuery</QueryType>
      <Zone>F3</Zone>
    </Query>

    <!-- Rules engine -->

    <Query>
      <NameId>Rules engine</NameId>
      <Sentence>select count(*) from processlogs with(nolock) where plg_mainprocessname = 'Winservice DeviceTransmissionsService' and plg_processname = '8 - ProcessProtocolAssignationDefinitions' and plg_subprocessname = 'Process' and plg_loopenddate >= dateadd(day, -2, getdate())</Sentence>
      <QueryType>SqlQuery</QueryType>
      <Zone>G</Zone>
    </Query>

    <!-- Deadlocks -->

    <Query>
      <NameId>Deadlocks</NameId>
      <Sentence>select count(*)/2 from log with(nolock) where log_message like '%deadlock%' and log_date > dateadd(minute, -15, getdate())</Sentence>
      <QueryType>SqlQuery</QueryType>
      <Zone>H</Zone>
    </Query>

    <!-- Services -->

    <Query>
      <NameId>Services</NameId>
      <Sentence>select count(*) from log with(nolock) where (log_message like 'Service starting%' or  log_message like 'Service stopping%') and log_date > dateadd(hour, - 1, getdate())</Sentence>
      <QueryType>SqlQuery</QueryType>
      <Zone>I</Zone>
    </Query>

    <!-- Web portal -->

    <Query>
      <NameId>Web portal</NameId>
      <Sentence>AdSService.AdSServiceAppPoolTest</Sentence>
      <QueryType>WebPool</QueryType>
      <Zone>J</Zone>
    </Query>

  </Queries>

  <Monitors>

    <!-- Users -->

    <!-- <Monitor> -->
      <!-- <ServerDatabaseNameId>FR</ServerDatabaseNameId> -->
      <!-- <QueryNameId>Users</QueryNameId> -->
      <!-- <ResultMax>300</ResultMax> -->
      <!-- <IsExecutionPeriod>true</IsExecutionPeriod> -->
      <!-- <ExecutionPeriod>00:60</ExecutionPeriod> -->
      <!-- <IsActive>true</IsActive> -->
    <!-- </Monitor> -->
    <!-- <Monitor> -->
      <!-- <ServerDatabaseNameId>ES</ServerDatabaseNameId> -->
      <!-- <QueryNameId>Users</QueryNameId> -->
      <!-- <ResultMax>300</ResultMax> -->
      <!-- <IsExecutionPeriod>true</IsExecutionPeriod> -->
      <!-- <ExecutionPeriod>00:60</ExecutionPeriod> -->
      <!-- <IsActive>true</IsActive> -->
    <!-- </Monitor> -->
    <!-- <Monitor> -->
      <!-- <ServerDatabaseNameId>PT</ServerDatabaseNameId> -->
      <!-- <QueryNameId>Users</QueryNameId> -->
      <!-- <ResultMax>300</ResultMax> -->
      <!-- <IsExecutionPeriod>true</IsExecutionPeriod> -->
      <!-- <ExecutionPeriod>00:60</ExecutionPeriod> -->
      <!-- <IsActive>true</IsActive> -->
    <!-- </Monitor> -->
    <!-- <Monitor> -->
      <!-- <ServerDatabaseNameId>BE</ServerDatabaseNameId> -->
      <!-- <QueryNameId>Users</QueryNameId> -->
      <!-- <ResultMax>300</ResultMax> -->
      <!-- <IsExecutionPeriod>true</IsExecutionPeriod> -->
      <!-- <ExecutionPeriod>00:60</ExecutionPeriod> -->
      <!-- <IsActive>true</IsActive> -->
    <!-- </Monitor> -->
    <!-- <Monitor> -->
      <!-- <ServerDatabaseNameId>NL</ServerDatabaseNameId> -->
      <!-- <QueryNameId>Users</QueryNameId> -->
      <!-- <ResultMax>300</ResultMax> -->
      <!-- <IsExecutionPeriod>true</IsExecutionPeriod> -->
      <!-- <ExecutionPeriod>00:60</ExecutionPeriod> -->
      <!-- <IsActive>true</IsActive> -->
    <!-- </Monitor> -->
    <!-- <Monitor> -->
      <!-- <ServerDatabaseNameId>CH</ServerDatabaseNameId> -->
      <!-- <QueryNameId>Users</QueryNameId> -->
      <!-- <ResultMax>300</ResultMax> -->
      <!-- <IsExecutionPeriod>true</IsExecutionPeriod> -->
      <!-- <ExecutionPeriod>00:60</ExecutionPeriod> -->
      <!-- <IsActive>true</IsActive> -->
    <!-- </Monitor> -->

    <!-- TRC -->

    <Monitor>
      <ServerDatabaseNameId>FR</ServerDatabaseNameId>
      <QueryNameId>TRC active</QueryNameId>
      <ResultMin>1</ResultMin>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:60</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>ES</ServerDatabaseNameId>
      <QueryNameId>TRC active</QueryNameId>
      <ResultMin>1</ResultMin>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:60</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>PT</ServerDatabaseNameId>
      <QueryNameId>TRC active</QueryNameId>
      <ResultMin>1</ResultMin>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:60</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>BE</ServerDatabaseNameId>
      <QueryNameId>TRC active</QueryNameId>
      <ResultMin>1</ResultMin>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:60</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>NL</ServerDatabaseNameId>
      <QueryNameId>TRC active</QueryNameId>
      <ResultMin>1</ResultMin>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:60</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>

    <Monitor>
      <ServerDatabaseNameId>FR</ServerDatabaseNameId>
      <QueryNameId>TRC interface</QueryNameId>
      <ResultMin>1</ResultMin>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:30</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>ES</ServerDatabaseNameId>
      <QueryNameId>TRC interface</QueryNameId>
      <ResultMin>1</ResultMin>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:30</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>PT</ServerDatabaseNameId>
      <QueryNameId>TRC interface</QueryNameId>
      <ResultMin>1</ResultMin>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:30</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>BE</ServerDatabaseNameId>
      <QueryNameId>TRC interface</QueryNameId>
      <ResultMin>1</ResultMin>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:30</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>NL</ServerDatabaseNameId>
      <QueryNameId>TRC interface</QueryNameId>
      <ResultMin>1</ResultMin>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:30</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>

    <Monitor>
      <ServerDatabaseNameId>FR</ServerDatabaseNameId>
      <QueryNameId>TRC docs</QueryNameId>
      <ResultMin>0</ResultMin>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:60</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>ES</ServerDatabaseNameId>
      <QueryNameId>TRC docs</QueryNameId>
      <ResultMin>0</ResultMin>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:60</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>PT</ServerDatabaseNameId>
      <QueryNameId>TRC docs</QueryNameId>
      <ResultMin>0</ResultMin>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:60</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>

    <!-- Comm -->

    <Monitor>
      <ServerDatabaseNameId>FR</ServerDatabaseNameId>
      <QueryNameId>Comm letters</QueryNameId>
      <ResultMin>1</ResultMin>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>FR</ServerDatabaseNameId>
      <QueryNameId>Comm emails</QueryNameId>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>FR</ServerDatabaseNameId>
      <QueryNameId>Comm errors</QueryNameId>
      <ResultMax>20</ResultMax>
      <IsActive>true</IsActive>
    </Monitor>

    <!-- Trans -->

    <Monitor>
      <ServerDatabaseNameId>FR</ServerDatabaseNameId>
      <QueryNameId>Trans Resmed</QueryNameId>
      <ResultMin>1</ResultMin>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>FR</ServerDatabaseNameId>
      <QueryNameId>Trans Respironics</QueryNameId>
      <ResultMin>1</ResultMin>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>FR</ServerDatabaseNameId>
      <QueryNameId>Trans Srett</QueryNameId>
      <ResultMin>1</ResultMin>
      <IsActive>true</IsActive>
    </Monitor>

	<!-- Rules engine -->

    <Monitor>
      <ServerDatabaseNameId>FR</ServerDatabaseNameId>
      <QueryNameId>Rules engine</QueryNameId>
      <ResultMin>1</ResultMin>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:60</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>ES</ServerDatabaseNameId>
      <QueryNameId>Rules engine</QueryNameId>
      <ResultMin>1</ResultMin>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:60</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>

    <!-- Deadlocks -->

    <Monitor>
      <ServerDatabaseNameId>FR</ServerDatabaseNameId>
      <QueryNameId>Deadlocks</QueryNameId>
      <ResultMax>10</ResultMax>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:15</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>ES</ServerDatabaseNameId>
      <QueryNameId>Deadlocks</QueryNameId>
      <ResultMax>10</ResultMax>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:15</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>PT</ServerDatabaseNameId>
      <QueryNameId>Deadlocks</QueryNameId>
      <ResultMax>10</ResultMax>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:15</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>BE</ServerDatabaseNameId>
      <QueryNameId>Deadlocks</QueryNameId>
      <ResultMax>10</ResultMax>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:15</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>NL</ServerDatabaseNameId>
      <QueryNameId>Deadlocks</QueryNameId>
      <ResultMax>10</ResultMax>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:15</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>CH</ServerDatabaseNameId>
      <QueryNameId>Deadlocks</QueryNameId>
      <ResultMax>10</ResultMax>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:15</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>

    <!-- Services -->

    <Monitor>
      <ServerDatabaseNameId>FR</ServerDatabaseNameId>
      <QueryNameId>Services</QueryNameId>
      <ResultMax>0</ResultMax>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:60</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>ES</ServerDatabaseNameId>
      <QueryNameId>Services</QueryNameId>
      <ResultMax>0</ResultMax>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:60</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>PT</ServerDatabaseNameId>
      <QueryNameId>Services</QueryNameId>
      <ResultMax>0</ResultMax>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:60</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>BE</ServerDatabaseNameId>
      <QueryNameId>Services</QueryNameId>
      <ResultMax>0</ResultMax>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:60</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>NL</ServerDatabaseNameId>
      <QueryNameId>Services</QueryNameId>
      <ResultMax>0</ResultMax>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:60</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <ServerDatabaseNameId>CH</ServerDatabaseNameId>
      <QueryNameId>Services</QueryNameId>
      <ResultMax>0</ResultMax>
      <IsExecutionPeriod>true</IsExecutionPeriod>
      <ExecutionPeriod>00:60</ExecutionPeriod>
      <IsActive>true</IsActive>
    </Monitor>

    <!-- Web portal -->

    <!-- <Monitor> -->
      <!-- <EndpointNameId>FR</EndpointNameId> -->
      <!-- <QueryNameId>Web portal</QueryNameId> -->
      <!-- <IsExecutionPeriod>true</IsExecutionPeriod> -->
      <!-- <ExecutionPeriod>00:02</ExecutionPeriod> -->
      <!-- <IsActive>true</IsActive> -->
    <!-- </Monitor> -->
    <!-- <Monitor> -->
      <!-- <EndpointNameId>ES</EndpointNameId> -->
      <!-- <QueryNameId>Web portal</QueryNameId> -->
      <!-- <IsExecutionPeriod>true</IsExecutionPeriod> -->
      <!-- <ExecutionPeriod>00:02</ExecutionPeriod> -->
      <!-- <IsActive>true</IsActive> -->
    <!-- </Monitor> -->
    <!-- <Monitor> -->
      <!-- <EndpointNameId>PT</EndpointNameId> -->
      <!-- <QueryNameId>Web portal</QueryNameId> -->
      <!-- <IsExecutionPeriod>true</IsExecutionPeriod> -->
      <!-- <ExecutionPeriod>00:02</ExecutionPeriod> -->
      <!-- <IsActive>true</IsActive> -->
    <!-- </Monitor> -->
    <!-- <Monitor> -->
      <!-- <EndpointNameId>BE</EndpointNameId> -->
      <!-- <QueryNameId>Web portal</QueryNameId> -->
      <!-- <IsExecutionPeriod>true</IsExecutionPeriod> -->
      <!-- <ExecutionPeriod>00:02</ExecutionPeriod> -->
      <!-- <IsActive>true</IsActive> -->
    <!-- </Monitor> -->
    <!-- <Monitor> -->
      <!-- <EndpointNameId>NL</EndpointNameId> -->
      <!-- <QueryNameId>Web portal</QueryNameId> -->
      <!-- <IsExecutionPeriod>true</IsExecutionPeriod> -->
      <!-- <ExecutionPeriod>00:02</ExecutionPeriod> -->
      <!-- <IsActive>true</IsActive> -->
    <!-- </Monitor> -->
    <!-- <Monitor> -->
      <!-- <EndpointNameId>CH</EndpointNameId> -->
      <!-- <QueryNameId>Web portal</QueryNameId> -->
      <!-- <IsExecutionPeriod>true</IsExecutionPeriod> -->
      <!-- <ExecutionPeriod>00:02</ExecutionPeriod> -->
      <!-- <IsActive>true</IsActive> -->
    <!-- </Monitor> -->

  </Monitors>

</Configuration>