<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <AutoStart>false</AutoStart>
  <DefaultTimeOutSeconds>60</DefaultTimeOutSeconds>

  <Instances>
    
    <Instance>
      <Id>FR</Id>
      <SortIndex>1</SortIndex>
      <IsActive>true</IsActive>
    </Instance>
    <Instance>
      <Id>ES</Id>
      <SortIndex>2</SortIndex>
      <IsActive>true</IsActive>
    </Instance>
    <Instance>
      <Id>PT</Id>
      <SortIndex>3</SortIndex>
      <IsActive>true</IsActive>
    </Instance>
    <Instance>
      <Id>BE</Id>
      <SortIndex>4</SortIndex>
      <IsActive>true</IsActive>
    </Instance>
    <Instance>
      <Id>NL</Id>
      <SortIndex>5</SortIndex>
      <IsActive>true</IsActive>
    </Instance>
    <Instance>
      <Id>CH</Id>
      <SortIndex>6</SortIndex>
      <IsActive>true</IsActive>
    </Instance>
  
  </Instances>
  
  <Functions>

    <Function>
      <Id>Healthcare_FR_TST</Id>
      <Server>.\SQLSERVER2017</Server>
      <InstanceId>FR</InstanceId>
      <FunctionType>SqlData</FunctionType>
      <IsActive>true</IsActive>
    </Function>
    <Function>
      <Id>Healthcare_ES_TST</Id>
      <Server>.\SQLSERVER2017</Server>
      <InstanceId>ES</InstanceId>
      <FunctionType>SqlData</FunctionType>
      <IsActive>true</IsActive>
    </Function>
    <Function>
      <Id>Healthcare_PT_TST</Id>
      <Server>.\SQLSERVER2017</Server>
      <InstanceId>PT</InstanceId>
      <FunctionType>SqlData</FunctionType>
      <IsActive>true</IsActive>
    </Function>
    <Function>
      <Id>Healthcare_BE_TST</Id>
      <Server>.\SQLSERVER2017</Server>
      <InstanceId>BE</InstanceId>
      <FunctionType>SqlData</FunctionType>
      <IsActive>true</IsActive>
    </Function>
    <Function>
      <Id>Healthcare_NL_TST</Id>
      <Server>.\SQLSERVER2017</Server>
      <InstanceId>NL</InstanceId>
      <FunctionType>SqlData</FunctionType>
      <IsActive>true</IsActive>
    </Function>
    <Function>
      <Id>Healthcare_CH_TST</Id>
      <Server>.\SQLSERVER2017</Server>
      <InstanceId>CH</InstanceId>
      <FunctionType>SqlData</FunctionType>
      <IsActive>true</IsActive>
    </Function>

    <Function>
      <Id>TST-fradsAppPool</Id>
      <Server>MLGMUC00SQL119</Server>
      <InstanceId>FR</InstanceId>
      <FunctionType>WebAppPool</FunctionType>
      <IsActive>true</IsActive>
    </Function>
    <Function>
      <Id>TST-esadsAppPool</Id>
      <Server>MLGMUC00SQL119</Server>
      <InstanceId>ES</InstanceId>
      <FunctionType>WebAppPool</FunctionType>
      <IsActive>true</IsActive>
    </Function>
    <Function>
      <Id>TST-ptadsAppPool</Id>
      <Server>MLGMUC00SQL119</Server>
      <InstanceId>PT</InstanceId>
      <FunctionType>WebAppPool</FunctionType>
      <IsActive>true</IsActive>
    </Function>
    <Function>
      <Id>TST-beadsAppPool</Id>
      <Server>MLGMUC00SQL119</Server>
      <InstanceId>BE</InstanceId>
      <FunctionType>WebAppPool</FunctionType>
      <IsActive>true</IsActive>
    </Function>
    <Function>
      <Id>TST-nladsAppPool</Id>
      <Server>MLGMUC00SQL119</Server>
      <InstanceId>NL</InstanceId>
      <FunctionType>WebAppPool</FunctionType>
      <IsActive>true</IsActive>
    </Function>
    <Function>
      <Id>TST-chadsAppPool</Id>
      <Server>MLGMUC00SQL119</Server>
      <InstanceId>CH</InstanceId>
      <FunctionType>WebAppPool</FunctionType>
      <IsActive>true</IsActive>
    </Function>

  </Functions>

  <Inputs>

    <!-- Check -->
    
    <Input>
      <Id>CheckSqlData</Id>
      <IsCheck>true</IsCheck>
      <FunctionType>SqlData</FunctionType>
      <Parameters>
        <string>select top 1 log_id from log with(nolock)</string>
      </Parameters>
      <TimeOutSeconds>5</TimeOutSeconds>
      <IsActive>true</IsActive>
    </Input>

    <!-- Users -->
    
    <Input>
      <Id>Users</Id>
      <SortIndex>1</SortIndex>
      <FunctionType>SqlData</FunctionType>
      <Parameters>
        <string>select count(*) from log with(nolock)</string>
      </Parameters>
      <PeriodMinutes>60</PeriodMinutes>
      <ValueMin>1</ValueMin>
      <ValueMax>300</ValueMax>
      <IsActive>true</IsActive>
    </Input>

    <!-- FO interface -->
    
    <Input>
      <Id>FO flag</Id>
      <SortIndex>2</SortIndex>
      <FunctionType>SqlData</FunctionType>
      <Parameters>
        <string>select count(*) + 1 from log with(nolock)</string>
      </Parameters>
      <PeriodMinutes>60</PeriodMinutes>
      <ValueMin>1</ValueMin>
      <IsActive>true</IsActive>
    </Input>
    <Input>
      <Id>FO interface</Id>
      <SortIndex>3</SortIndex>
      <FunctionType>SqlData</FunctionType>
      <Parameters>
        <string>select count(*) + 2 from log with(nolock)</string>
      </Parameters>
      <PeriodMinutes>120</PeriodMinutes>
      <IsActive>true</IsActive>
    </Input>
    <Input>
      <Id>FO docs</Id>
      <SortIndex>4</SortIndex>
      <FunctionType>SqlData</FunctionType>
      <Parameters>
        <string>select count(*) + 3 from log with(nolock)</string>
      </Parameters>
      <PeriodMinutes>240</PeriodMinutes>
      <IsActive>true</IsActive>
    </Input>

    <!-- Communications -->
    
    <Input>
      <Id>Comm letters</Id>
      <SortIndex>5</SortIndex>
      <FunctionType>SqlData</FunctionType>
      <Parameters>
        <string>select count(*) + 10 from log with(nolock)</string>
      </Parameters>
      <ValueMin>1</ValueMin>
      <IsActive>true</IsActive>
    </Input>
    <Input>
      <Id>Comm emails</Id>
      <SortIndex>6</SortIndex>
      <FunctionType>SqlData</FunctionType>
      <Parameters>
        <string>select count(*) + 20 from log with(nolock)</string>
      </Parameters>
      <IsActive>true</IsActive>
    </Input>
    <Input>
      <Id>Comm exceptions</Id>
      <SortIndex>7</SortIndex>
      <FunctionType>SqlData</FunctionType>
      <Parameters>
        <string>select count(*) + 30 from log with(nolock)</string>
      </Parameters>
      <ValueMax>9</ValueMax>
      <IsActive>true</IsActive>
    </Input>

    <!-- Wireless data -->
    
    <Input>
      <Id>Wireless Srett</Id>
      <SortIndex>8</SortIndex>
      <FunctionType>SqlData</FunctionType>
      <Parameters>
        <string>select count(*) + 100 from log with(nolock)</string>
      </Parameters>
      <TimeOutSeconds>120</TimeOutSeconds>
      <ValueMin>1</ValueMin>
      <IsActive>true</IsActive>
    </Input>
    <Input>
      <Id>Wireless Resmed</Id>
      <SortIndex>9</SortIndex>
      <FunctionType>SqlData</FunctionType>
      <Parameters>
        <string>select count(*) + 200 from log with(nolock)</string>
      </Parameters>
      <TimeOutSeconds>120</TimeOutSeconds>
      <ValueMin>1</ValueMin>
      <IsActive>true</IsActive>
    </Input>
    <Input>
      <Id>Wireless Respironics</Id>
      <SortIndex>10</SortIndex>
      <FunctionType>SqlData</FunctionType>
      <Parameters>
        <string>select count(*) + 300 from log with(nolock)</string>
      </Parameters>
      <TimeOutSeconds>120</TimeOutSeconds>
      <ValueMin>1</ValueMin>
      <IsActive>true</IsActive>
    </Input>

    <!-- Rule Engine -->
    
    <Input>
      <Id>Rule Engine</Id>
      <SortIndex>11</SortIndex>
      <FunctionType>SqlData</FunctionType>
      <Parameters>
        <string>select count(*) - 1 from log with(nolock)</string>
      </Parameters>
      <ValueMin>1</ValueMin>
      <IsActive>true</IsActive>
    </Input>
    <Input>
      <Id>Rule Engine exceptions</Id>
      <SortIndex>12</SortIndex>
      <FunctionType>SqlData</FunctionType>
      <Parameters>
        <string>select count(*) + 10 from log with (nolock)</string>
      </Parameters>
      <ValueMax>999</ValueMax>
      <IsActive>true</IsActive>
    </Input>

    <!-- Deadlocks -->
    
    <Input>
      <Id>Deadlocks</Id>
      <SortIndex>13</SortIndex>
      <FunctionType>SqlData</FunctionType>
      <Parameters>
        <string>select count(*) - 2 from log with(nolock)</string>
      </Parameters>
      <PeriodMinutes>15</PeriodMinutes>
      <ValueMax>9</ValueMax>
      <IsActive>true</IsActive>
    </Input>

    <!-- Services -->
    
    <Input>
      <Id>Services</Id>
      <SortIndex>14</SortIndex>
      <FunctionType>SqlData</FunctionType>
      <Parameters>
        <string>select count(*) - 3 from log with(nolock)</string>
      </Parameters>
      <PeriodMinutes>60</PeriodMinutes>
      <ValueMax>0</ValueMax>
      <IsActive>true</IsActive>
    </Input>

    <!-- Web portal -->
    
    <Input>
      <Id>Web portal</Id>
      <SortIndex>15</SortIndex>
      <FunctionType>WebAppPool</FunctionType>
      <PeriodMinutes>60</PeriodMinutes>
      <ValueMin>1</ValueMin>
      <IsActive>true</IsActive>
    </Input>

  </Inputs>

  <Monitors>

    <!-- Users -->
    
    <Monitor>
      <FunctionId>Healthcare_FR_TST</FunctionId>
      <InputId>Users</InputId>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_ES_TST</FunctionId>
      <InputId>Users</InputId>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_PT_TST</FunctionId>
      <InputId>Users</InputId>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_BE_TST</FunctionId>
      <InputId>Users</InputId>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_NL_TST</FunctionId>
      <InputId>Users</InputId>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_CH_TST</FunctionId>
      <InputId>Users</InputId>
      <IsActive>true</IsActive>
    </Monitor>

    <!-- FO interface -->
    
    <Monitor>
      <FunctionId>Healthcare_FR_TST</FunctionId>
      <InputId>FO flag</InputId>
      <ValueMin>1</ValueMin>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_ES_TST</FunctionId>
      <InputId>FO flag</InputId>
      <ValueMin>1</ValueMin>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_PT_TST</FunctionId>
      <InputId>FO flag</InputId>
      <ValueMin>1</ValueMin>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_BE_TST</FunctionId>
      <InputId>FO flag</InputId>
      <ValueMin>1</ValueMin>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_NL_TST</FunctionId>
      <InputId>FO flag</InputId>
      <ValueMin>1</ValueMin>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_CH_TST</FunctionId>
      <InputId>FO flag</InputId>
      <IsActive>false</IsActive>
    </Monitor>

    <Monitor>
      <FunctionId>Healthcare_FR_TST</FunctionId>
      <InputId>FO interface</InputId>
      <ValueMin>13</ValueMin>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_ES_TST</FunctionId>
      <InputId>FO interface</InputId>
      <ValueMin>10</ValueMin>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_PT_TST</FunctionId>
      <InputId>FO interface</InputId>
      <ValueMin>7</ValueMin>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_BE_TST</FunctionId>
      <InputId>FO interface</InputId>
      <ValueMin>4</ValueMin>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_NL_TST</FunctionId>
      <InputId>FO interface</InputId>
      <ValueMin>1</ValueMin>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_CH_TST</FunctionId>
      <InputId>FO interface</InputId>
      <IsActive>false</IsActive>
    </Monitor>

    <!-- Communications -->

    <Monitor>
      <FunctionId>Healthcare_FR_TST</FunctionId>
      <InputId>Comm letters</InputId>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_ES_TST</FunctionId>
      <InputId>Comm letters</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_PT_TST</FunctionId>
      <InputId>Comm letters</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_BE_TST</FunctionId>
      <InputId>Comm letters</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_NL_TST</FunctionId>
      <InputId>Comm letters</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_CH_TST</FunctionId>
      <InputId>Comm letters</InputId>
      <IsActive>false</IsActive>
    </Monitor>

    <Monitor>
      <FunctionId>Healthcare_FR_TST</FunctionId>
      <InputId>Comm emails</InputId>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_ES_TST</FunctionId>
      <InputId>Comm emails</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_PT_TST</FunctionId>
      <InputId>Comm emails</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_BE_TST</FunctionId>
      <InputId>Comm emails</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_NL_TST</FunctionId>
      <InputId>Comm emails</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_CH_TST</FunctionId>
      <InputId>Comm emails</InputId>
      <IsActive>false</IsActive>
    </Monitor>

    <Monitor>
      <FunctionId>Healthcare_FR_TST</FunctionId>
      <InputId>Comm exceptions</InputId>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_ES_TST</FunctionId>
      <InputId>Comm exceptions</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_PT_TST</FunctionId>
      <InputId>Comm exceptions</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_BE_TST</FunctionId>
      <InputId>Comm exceptions</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_NL_TST</FunctionId>
      <InputId>Comm exceptions</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_CH_TST</FunctionId>
      <InputId>Comm exceptions</InputId>
      <IsActive>false</IsActive>
    </Monitor>

    <!-- Wireless data -->

    <Monitor>
      <FunctionId>Healthcare_PT_TST</FunctionId>
      <InputId>Wireless Srett</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_BE_TST</FunctionId>
      <InputId>Wireless Srett</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_NL_TST</FunctionId>
      <InputId>Wireless Srett</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_CH_TST</FunctionId>
      <InputId>Wireless Srett</InputId>
      <IsActive>false</IsActive>
    </Monitor>

    <Monitor>
      <FunctionId>Healthcare_PT_TST</FunctionId>
      <InputId>Wireless Resmed</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_BE_TST</FunctionId>
      <InputId>Wireless Resmed</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_NL_TST</FunctionId>
      <InputId>Wireless Resmed</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_CH_TST</FunctionId>
      <InputId>Wireless Resmed</InputId>
      <IsActive>false</IsActive>
    </Monitor>

    <Monitor>
      <FunctionId>Healthcare_PT_TST</FunctionId>
      <InputId>Wireless Respironics</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_BE_TST</FunctionId>
      <InputId>Wireless Respironics</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_NL_TST</FunctionId>
      <InputId>Wireless Respironics</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_CH_TST</FunctionId>
      <InputId>Wireless Respironics</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    
    <!-- Rule Engine -->

    <Monitor>
      <FunctionId>Healthcare_FR_TST</FunctionId>
      <InputId>Rule Engine</InputId>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_ES_TST</FunctionId>
      <InputId>Rule Engine</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_PT_TST</FunctionId>
      <InputId>Rule Engine</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_BE_TST</FunctionId>
      <InputId>Rule Engine</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_NL_TST</FunctionId>
      <InputId>Rule Engine</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_CH_TST</FunctionId>
      <InputId>Rule Engine</InputId>
      <IsActive>false</IsActive>
    </Monitor>

    <Monitor>
      <FunctionId>Healthcare_FR_TST</FunctionId>
      <InputId>Rule Engine exceptions</InputId>
      <IsActive>true</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_ES_TST</FunctionId>
      <InputId>Rule Engine exceptions</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_PT_TST</FunctionId>
      <InputId>Rule Engine exceptions</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_BE_TST</FunctionId>
      <InputId>Rule Engine exceptions</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_NL_TST</FunctionId>
      <InputId>Rule Engine exceptions</InputId>
      <IsActive>false</IsActive>
    </Monitor>
    <Monitor>
      <FunctionId>Healthcare_CH_TST</FunctionId>
      <InputId>Rule Engine exceptions</InputId>
      <IsActive>false</IsActive>
    </Monitor>

    <!-- Deadlocks -->

    <!-- Services -->

    <!-- Web portal -->

  </Monitors>

</Configuration>